<div>
    <div class="container"> <!--The container class centers the content on the page-->
        <div class="row"><!-- row class ensures the content inside is aligned in rows-->
           <div class="col-12">
                <div class="col-xs-6 col-md-4 col-lg-4">
                        
                    <h2>Grocery list manager</h2>
                    <div class="input-group"> <!--  This section creates the input area where users can type their grocery items-->
                        <!--The <input> field is bound to a component property using [(ngModel)],
                         which binds the value in the input to the task variable in the component.-->
                        <input type="text"
                        class="form-control" 
                        placeholder="enter grocery items" 
                        id="txtSearch" 
                        [(ngModel)]="task"
                        /> 
                        <div class="input-group-btn"> <!--button that adds a grocery item. When clicked, the onClick() method is triggered.-->
                            <button class="btn btn-primary" type="button" (click)="onClick()">
                                <i class="fa-regular fa-square-check"></i> <!--icon from Font Awesome, displaying a checkmark icon inside the button.-->
                            </button>
                    
                        </div>
                    </div>
                </div> 
            </div> 
            
            <br/>

            <!--This section displays the list of tasks the user has added-->
            <div class="col-xs-4 col-md-8 col-lg-8">   

                <!-- Add this span element to display the tasks array -->
                <ul class="list-group w-100" > <!--The list is styled with Bootstrap's list-group class-->
                    
                    <!--*ngFor is an Angular directive that loops through the tasks array
                     and displays each task in a list item (<li>).-->
                    <li *ngFor="let task of tasks" class="list-group-item"> 
                        <span> {{ task.name }} </span> <!--The task.name shows the name of each task added by the user-->
                    </li>
                </ul>
                    
            </div>
        </div>
    </div>
</div>
